.editor-document{
	width: 96%;
	margin: 0 auto 0 auto;
	padding: 20px;
	height:1000px;
}


.selected {
	outline: 2px solid blue !important;
}

.entity-container{
	width: 300px;
	height:200px;
	background-color: yellow;
}

.entity-method{
	display: inline-block;
	width: 100%;
	height: 500px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	border: none;
	-o-text-overflow: clip;
	text-overflow: clip;
	background: -webkit-linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -webkit-linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -webkit-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), -webkit-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgba(237,241,244,1);
	background: -moz-linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -moz-linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), -moz-linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), -moz-linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgba(237,241,244,1);
	background: linear-gradient(0deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), linear-gradient(90deg, #FFFFFF 2px, rgba(0,0,0,0) 2px), linear-gradient(0deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), linear-gradient(90deg, rgba(255,255,255,0.298039) 1px, rgba(0,0,0,0) 1px), rgba(237,241,244,1);
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	-webkit-background-origin: padding-box;
	background-origin: padding-box;
	-webkit-background-clip: border-box;
	background-clip: border-box;
	-webkit-background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
}

.port{
	position: relative;
	margin:0 0 5px 0;
	width: 0;
	height: 0;
	border-/*top: 10px solid transparent;
	border-left: 20px solid blue;
	border-bo*/ttom: 10px solid transparent;
}

.port .name{
	font-size: 10px;
	margin: 0 auto 0 auto;
}

.node .name{
	text-align: center;
	margin-top: 20%;
}

.port .move-handler,.caption{
	display: none;
}

.port.In, .port.DATA-IN {
	/*border-left: 20px solid #00cc66; */
	left:0;
	top:0;
	clear:all;
	/*margin-left:-10px;*/
}

.port.Out, .port.DATA-OUT {
	clear: right;
	/*border-left: 20px solid #1c2933;*/
	float: right;
	/*margin-right: -15px;*/
}

.port.Error {
	border-left: 20px solid #f9451f; 
	background-color: red;
}

.node {
	width:300px;
	height:200px;
	background-color:#fff8dc;
	position: absolute !important;
}

.entity-container {
	position: absolute !important;
}


.port-label{
	margin-top:10px;
}

._jsPlumb_endpoint{
	margin-left: 2px;
	margin-right: 2px;
}

.ui-resizable-se{
	width: 0;
	height: 0;
	border-width: 0 0 10px 10px;
	border-style: solid;
	border-color: transparent transparent #007bff transparent;
}

.node:hover .ui-resizable-se{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 20px 20px;
	border-color: transparent transparent #007bff transparent;
}

.entity-container-draggable:hover .ui-resizable-se{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0 20px 20px;
	border-color: transparent transparent #007bff transparent;
}

.entity-container-draggable{
	display: block;
	height: auto;
}

.editortool{
	z-index: 1000;
}